@{
    ViewBag.Title = "Cronometer";
}

<div id="timelabel"></div>
<script type="text/javascript">
var leave= <%=seconds%>;

CounterTimer();
var interv=setInterval(ConterTime,1000);

function ConterTimer()
{
    var day = Math.floor(leave/(60*60*24));
    var hour = Math.floor(leave/3600)-(day * 24); 
    var minute = Math.floor(leave/60)-(day * 24* 60)-(hour *60);
    var second = Math.floor(leave)-(day * 24 * 60 * 60) - (hour * 60 * 60)- (minute * 60);

    hour = hour<10 ? "0" + hour : hour;
    minute = minute<10 ? "0" + minute : minute;
    second = second<10 ? "0" + second : second;

    var remain= day + "days"+ hour+":"+ minute + ":" +second ;
    leave = leave-1;

    document.getElementById("timelabel").innerHTML=remain;
}




</script>